{% extends "base.html" %}

{% block content %}

<h2 class="text-3xl font-semibold mb-6">
    Sample: {{ sample.sample_id }}
</h2>

<div id="assay-container"
     hx-get="/api/v1/samples/{{ sample.sample_id }}/assays/html"
     hx-trigger="load"
     hx-target="#assay-container"
     hx-swap="innerHTML">
    Loading assays...
</div>


<div id="snv-table"
     hx-get="/api/v1/sample-assays/SA_LUNG_001/snvs"
     hx-trigger="load"
     hx-target="#snv-table"
     hx-swap="innerHTML">
    Loading SNVs...
</div>

{% endblock %}